body {
    font-family: 'Itim', cursive;


}

.box {
    margin-left: 80px;
    width: 80px;
    height: 30px;
    background-color: rgb(13,110,253);
    border-radius: 10px;

}
.btn2{
    text-decoration: none;
    color: white;
    
}

